@import "reset";
@import "base/font";
@import "base/colors";
@import "tailwind";

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) #FFFFFF;
}

.app {
  // Глобальные стили
  background-color: #fff;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: var(--text-l);
  height: 100vh;
  overflow: hidden;
}

.center {
  padding: 0 150px;
}

