@import "reset";
@import "base/font";
@import "base/colors";
@import "tailwind";

.app {
  // Глобальные стили
  background-color: #ffffff;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: var(--text-l);
  min-height: 100vh;
}

.center {
  padding: 0 150px;
}

